In [1]:
import pandas as pd

In [2]:
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

True

In [6]:
nndss_app_token = os.getenv('NNDSS_APP_TOKEN')

In [4]:
from datetime import datetime, timedelta

def get_year_week_from_date(date):
    """Returns the year and week number for a given date."""
    year, week, _ = date.isocalendar()
    return year, week

# Current date
current_date = datetime.now()

# First day of the current month
first_day_current_month = current_date.replace(day=1)

# Last day of the last month
last_day_last_month = first_day_current_month - timedelta(days=1)

# First day of the last month
first_day_last_month = last_day_last_month.replace(day=1)

# Get year and week number for the start and end of the last month
start_year, start_week = get_year_week_from_date(first_day_last_month)
end_year, end_week = get_year_week_from_date(last_day_last_month)

# Display the year and week range
print(f"Start of Last Month: Year = {start_year}, Week = {start_week}")
print(f"End of Last Month: Year = {end_year}, Week = {end_week}")

Start of Last Month: Year = 2024, Week = 5
End of Last Month: Year = 2024, Week = 9

In [75]:
# Calculate the previous month's MMWR week and year (This is a placeholder - you'll need to determine the actual logic based on MMWR calendar)
last_month = datetime.now().replace(day=1) - timedelta(days=1)
mmwr_week = last_month.strftime('%U')  # This is not the actual MMWR week, you'll need the MMWR calendar for this
mmwr_year = last_month.strftime('%Y')
# Construct the API URL with the MMWR week and year for the last month
# You'll need to replace 'MMWR_WEEK' and 'MMWR_YEAR' with actual fields from the dataset if they're different
url = f"https://data.cdc.gov/resource/x9gk-5huc.json?$$app_token={nndss_app_token}&$where=mmwr_week='{mmwr_week}' AND mmwr_year='{mmwr_year}'"

#print(url)

In [76]:
year = 2024
week = 2
state = 'VIRGINIA'
label = 'Campylobacteriosis'

query_url = f"https://data.cdc.gov/resource/x9gk-5huc.json?$$app_token={nndss_app_token}&$where=year='{year}' AND week='{week}' AND states='{state}' AND label='{label}'"

#print(query_url)

In [42]:
# Make the API request
response = requests.get(query_url)
data = response.json()

In [43]:
data[0]

{'states': 'VIRGINIA',
 'year': '2024',
 'week': '2',
 'label': 'Campylobacteriosis',
 'm1': '28',
 'm1_flag': '-',
 'm2': '54',
 'm2_flag': '-',
 'm3': '49',
 'm3_flag': '-',
 'm4': '46',
 'm4_flag': '-',
 'location1': 'VIRGINIA',
 'sort_order': '20240201016',
 'geocode': {'type': 'Point', 'coordinates': [-78.697948713, 37.512820504]}}

In [44]:
df = pd.DataFrame(data)
df.head()

,states,year,week,label,m1,m1_flag,m2,m2_flag,m3,m3_flag,m4,m4_flag,location1,sort_order,geocode
0,VIRGINIA,2024,2,Campylobacteriosis,28,-,54,-,49,-,46,-,VIRGINIA,20240201016,"{'type': 'Point', 'coordinates': [-78.69794871..."

In [38]:
df = pd.DataFrame(data)
df.head()

,states,year,week,label,m1,m1_flag,m2,m2_flag,m3,m3_flag,m4,m4_flag,location1,sort_order,geocode
0,VIRGINIA,2024,1,Campylobacteriosis,20,-,54,-,20,-,22,-,VIRGINIA,20240101016,"{'type': 'Point', 'coordinates': [-78.69794871..."

In [39]:
df.label.unique()

array(['Campylobacteriosis'], dtype=object)

In [40]:
df.label.nunique()

1

In [3]:
df_csv = pd.read_csv("../data/raw/CDC_NNDSS_WEEKLY_CSV/NNDSS_Weekly_Data_20240311.csv")

In [4]:
df_csv[(df_csv['Reporting Area']=='VIRGINIA') & (df_csv['Label']=='Campylobacteriosis') & (df_csv['Current MMWR Year']==2024)].sort_values('MMWR WEEK')

,Reporting Area,Current MMWR Year,MMWR WEEK,Label,Current week,"Current week, flag",Previous 52 week Max,"Previous 52 weeks Max, flag",Cumulative YTD Current MMWR Year,"Cumulative YTD Current MMWR Year, flag",Cumulative YTD Previous MMWR Year,"Cumulative YTD Previous MMWR Year, flag",LOCATION1,LOCATION2,sort_order,geocode
835506,VIRGINIA,2024,1,Campylobacteriosis,20.0,-,54.0,-,20.0,-,22.0,-,VIRGINIA,NaN,20240101016,POINT (-78.697948713 37.512820504)
843854,VIRGINIA,2024,2,Campylobacteriosis,28.0,-,54.0,-,49.0,-,46.0,-,VIRGINIA,NaN,20240201016,POINT (-78.697948713 37.512820504)
852084,VIRGINIA,2024,3,Campylobacteriosis,15.0,-,54.0,-,71.0,-,67.0,-,VIRGINIA,NaN,20240301016,POINT (-78.697948713 37.512820504)
860112,VIRGINIA,2024,4,Campylobacteriosis,28.0,-,54.0,-,101.0,-,98.0,-,VIRGINIA,NaN,20240401016,POINT (-78.697948713 37.512820504)
868216,VIRGINIA,2024,5,Campylobacteriosis,26.0,-,54.0,-,127.0,-,125.0,-,VIRGINIA,NaN,20240501016,POINT (-78.697948713 37.512820504)
714984,VIRGINIA,2024,6,Campylobacteriosis,32.0,-,54.0,-,160.0,-,154.0,-,VIRGINIA,NaN,20240601016,POINT (-78.697948713 37.512820504)
778749,VIRGINIA,2024,7,Campylobacteriosis,31.0,-,54.0,-,192.0,-,189.0,-,VIRGINIA,NaN,20240701016,POINT (-78.697948713 37.512820504)
819333,VIRGINIA,2024,8,Campylobacteriosis,37.0,-,54.0,-,236.0,-,223.0,-,VIRGINIA,NaN,20240801016,POINT (-78.697948713 37.512820504)

In [5]:
df_csv[df_csv['Current MMWR Year']==2023].drop_duplicates(['Current MMWR Year','MMWR WEEK'])[['Current MMWR Year','MMWR WEEK']].sort_values(['Current MMWR Year','MMWR WEEK'])

        Current MMWR Year  MMWR WEEK
270240               2023          1
383902               2023          2
276585               2023          3
357209               2023          4
273974               2023          5
270128               2023          6
417688               2023          7
275206               2023          8
276629               2023          9
508228               2023         10
270127               2023         11
353221               2023         13
271195               2023         14
459646               2023         15
460211               2023         16
538850               2023         17
270350               2023         18
495313               2023         19
32534                2023         20
275465               2023         21
508584               2023         22
510580               2023         23
534507               2023         24
270644               2023         25
535465               2023         26
582246               2023         27
271574               2023         28
642971               2023         29
659058               2023         30
463457               2023         31
270011               2023         32
582483               2023         33
497985               2023         34
582928               2023         35
658419               2023         36
664178               2023         37
686111               2023         38
661                  2023         39
582797               2023         40
661540               2023         41
700955               2023         42
647305               2023         43
663711               2023         44
674701               2023         45
487530               2023         46
805824               2023         47
582814               2023         48
702185               2023         49
749892               2023         50
765788               2023         51
590618               2023         52

In [6]:
# ok, so in the csv, the year / week is just ['Current MMWR Year','MMWR WEEK'], and the number of cases (new cases) is "CUrrent week", Label is the disease.
# and similarly the api response, states	year	week	label	m1 (m1 is the current week number of new cases)
# states or reporting area contains more than states. regions, total, territories, US res, non-us res
# thought is to, create an outlier detection thing like in time series stuff I did for Live action. I think it's possible.
# https://dev.socrata.com/foundry/data.cdc.gov/x9gk-5huc

In [7]:
df_csv['Reporting Area'].unique()

array(['US RESIDENTS', 'NEW ENGLAND', 'CONNECTICUT', 'MAINE',
       'MASSACHUSETTS', 'NEW HAMPSHIRE', 'RHODE ISLAND', 'VERMONT',
       'MIDDLE ATLANTIC', 'NEW JERSEY', 'NEW YORK', 'NEW YORK CITY',
       'PENNSYLVANIA', 'EAST NORTH CENTRAL', 'ILLINOIS', 'INDIANA',
       'MICHIGAN', 'OHIO', 'WISCONSIN', 'WEST NORTH CENTRAL', 'KANSAS',
       'MINNESOTA', 'MISSOURI', 'NORTH DAKOTA', 'SOUTH DAKOTA',
       'SOUTH ATLANTIC', 'DELAWARE', 'DISTRICT OF COLUMBIA', 'FLORIDA',
       'GEORGIA', 'MARYLAND', 'NORTH CAROLINA', 'SOUTH CAROLINA',
       'VIRGINIA', 'WEST VIRGINIA', 'ALABAMA', 'KENTUCKY', 'MISSISSIPPI',
       'WEST SOUTH CENTRAL', 'ARKANSAS', 'LOUISIANA', 'OKLAHOMA', 'TEXAS',
       'MOUNTAIN', 'ARIZONA', 'IDAHO', 'MONTANA', 'NEVADA', 'NEW MEXICO',
       'UTAH', 'WYOMING', 'PACIFIC', 'ALASKA', 'CALIFORNIA', 'HAWAII',
       'OREGON', 'WASHINGTON', 'US TERRITORIES', 'AMERICAN SAMOA',
       'NORTHERN MARIANA ISLANDS', 'GUAM', 'PUERTO RICO',
       'U.S. VIRGIN ISLANDS', 'NON-US RESIDENTS', 'TOTAL', 'IOWA',
       'NEBRASKA', 'EAST SOUTH CENTRAL', 'TENNESSEE', 'COLORADO'],
      dtype=object)

In [8]:
df_csv[df_csv['LOCATION2'].notna()].head()

,Reporting Area,Current MMWR Year,MMWR WEEK,Label,Current week,"Current week, flag",Previous 52 week Max,"Previous 52 weeks Max, flag",Cumulative YTD Current MMWR Year,"Cumulative YTD Current MMWR Year, flag",Cumulative YTD Previous MMWR Year,"Cumulative YTD Previous MMWR Year, flag",LOCATION1,LOCATION2,sort_order,geocode
0,US RESIDENTS,2022,10,Anthrax,NaN,-,0.0,-,NaN,-,NaN,-,NaN,US RESIDENTS,20221000001,NaN
1,NEW ENGLAND,2022,10,Anthrax,NaN,-,0.0,-,NaN,-,NaN,-,NaN,NEW ENGLAND,20221000002,NaN
8,MIDDLE ATLANTIC,2022,10,Anthrax,NaN,-,0.0,-,NaN,-,NaN,-,NaN,MIDDLE ATLANTIC,20221000009,NaN
13,EAST NORTH CENTRAL,2022,10,Anthrax,NaN,-,0.0,-,NaN,-,NaN,-,NaN,EAST NORTH CENTRAL,20221000014,NaN
19,WEST NORTH CENTRAL,2022,10,Anthrax,NaN,-,0.0,-,NaN,-,NaN,-,NaN,WEST NORTH CENTRAL,20221000020,NaN

In [9]:
df = df_csv[df_csv['LOCATION2'].isna()]

In [10]:
df = df[['Reporting Area','Current MMWR Year','MMWR WEEK','Label','Current week']]
df.columns = ['state','year','week','label','new_cases']

In [11]:
df.head()

           state  year  week    label  new_cases
2    CONNECTICUT  2022    10  Anthrax        NaN
3          MAINE  2022    10  Anthrax        NaN
4  MASSACHUSETTS  2022    10  Anthrax        NaN
5  NEW HAMPSHIRE  2022    10  Anthrax        NaN
6   RHODE ISLAND  2022    10  Anthrax        NaN

In [12]:
df.tail()

,state,year,week,label,new_cases
871072,DISTRICT OF COLUMBIA,2024,5,"Hepatitis C, perinatal, Confirmed",NaN
871073,LOUISIANA,2024,5,"Meningococcal disease, Other serogroups",NaN
871076,GEORGIA,2024,5,"Viral hemorrhagic fevers, Ebola virus",NaN
871077,MINNESOTA,2024,5,"Viral hemorrhagic fevers, Crimean-Congo hemorr...",NaN
871078,TENNESSEE,2024,5,"Hantavirus infection, non-hantavirus pulmonary...",NaN

In [13]:
df['new_cases'] = df.new_cases.fillna(0)
df['new_cases'] = df.new_cases.astype(int)

In [14]:
df.head()

           state  year  week    label  new_cases
2    CONNECTICUT  2022    10  Anthrax          0
3          MAINE  2022    10  Anthrax          0
4  MASSACHUSETTS  2022    10  Anthrax          0
5  NEW HAMPSHIRE  2022    10  Anthrax          0
6   RHODE ISLAND  2022    10  Anthrax          0

In [15]:
df['date'] = pd.to_datetime(df['year'].astype(str) + df['week'].astype(str) + '1', format='%Y%W%w')
df.drop(columns=['year','week'],inplace=True)

In [16]:
df

,state,label,new_cases,date
2,CONNECTICUT,Anthrax,0,2022-03-07
3,MAINE,Anthrax,0,2022-03-07
4,MASSACHUSETTS,Anthrax,0,2022-03-07
5,NEW HAMPSHIRE,Anthrax,0,2022-03-07
6,RHODE ISLAND,Anthrax,0,2022-03-07
...,...,...,...,...
871072,DISTRICT OF COLUMBIA,"Hepatitis C, perinatal, Confirmed",0,2024-01-29
871073,LOUISIANA,"Meningococcal disease, Other serogroups",0,2024-01-29
871076,GEORGIA,"Viral hemorrhagic fevers, Ebola virus",0,2024-01-29
871077,MINNESOTA,"Viral hemorrhagic fevers, Crimean-Congo hemorr...",0,2024-01-29
871078,TENNESSEE,"Hantavirus infection, non-hantavirus pulmonary...",0,2024-01-29

In [17]:
from gluonts.dataset.pandas import PandasDataset

/usr/local/lib/python3.10/site-packages/gluonts/json.py:101: UserWarning: Using `json`-module for json-handling. Consider installing one of `orjson`, `ujson` to speed up serialization and deserialization.
  warnings.warn(

In [18]:
# make unique id with state and label:

In [19]:
df['item_id'] = df['state'] + '_' + df['label']

In [20]:
df.sort_values(['item_id', 'date'], inplace=True)

# Setting the cut-off date for the train-test split
# For example, if you want the last 4 weeks as your test set:
cut_off_date = df['date'].max() - pd.Timedelta(weeks=4)

# Splitting the DataFrame into training and testing sets
train = df[df['date'] <= cut_off_date]
test = df[df['date'] > cut_off_date]

In [21]:
train_ds = PandasDataset.from_long_dataframe(train, target='new_cases', item_id='item_id', 
                                             timestamp='date', freq='W')
test_ds = PandasDataset.from_long_dataframe(test, target='new_cases', item_id='item_id', 
                                            timestamp='date', freq='W')

In [26]:
from gluonts.torch.model.deepar import DeepAREstimator

ImportError: cannot import name 'DeepAREstimator' from partially initialized module 'gluonts.torch.model.deepar' (most likely due to a circular import) (/usr/local/lib/python3.10/site-packages/gluonts/torch/model/deepar/__init__.py)

In [25]:
from gluonts.torch.model.deepar import DeepAREstimator

ImportError: cannot import name 'DeepAREstimator' from partially initialized module 'gluonts.torch.model.deepar' (most likely due to a circular import) (/usr/local/lib/python3.10/site-packages/gluonts/torch/model/deepar/__init__.py)

In [34]:
import pytorch_lightning as pl

In [24]:
import pytorch_lightning as pl
print("PyTorch Lightning version:", pl.__version__)

import gluonts
print("GluonTS version:", gluonts.__version__)

PyTorch Lightning version: 2.2.1
GluonTS version: 0.14.4